.form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	fieldset {
		display: flex;
		flex-direction: column;
		gap: 16px;

		padding: 16px;

		legend {
			text-align: center;
			min-width: 100px;
		}
	}
}
