.form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	fieldset {
		display: flex;
		flex-direction: column;
		gap: 16px;

		padding: 16px;

		legend {
			transform: translateX(25%);
			width: 150px;
		}
	}
}
